:root {
  --primary-color: #2196f3;
  --secondary-color: #212121;
  --silver-color: #f5f4fa;
  --grey-color: #afb1b8;
  --light-color: #ffffff;
  --dark-color: #000000;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

button {
  padding: 0;
  cursor: pointer;
}

body {
  color: var(--secondary-color);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  height: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-btn {
  display: block;
  min-width: 200px;
  padding: 10px 28px;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--light-color);
  cursor: pointer;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #188ce8;
}

/*-----------header-----------*/

.header {
  background: var(--light-color);
  border-bottom: 1px solid var(--silver-color);
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 93px;
  height: 80px;
}

.logo {
  display: block;
  color: var(--primary-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}

.accent {
  color: var(--dark-color);
}

.nav,
.nav-list,
.nav-list-item,
.nav-link {
  height: 100%;
}

.nav-list-item {
  display: inline-block;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  position: relative;
  transition: color var(--transition-duration)
    var(--transition-timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-color);
}

.nav-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;

  bottom: -1px;
  left: 0;

  background-color: transparent;
  border-radius: 2px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.nav-link:hover::after,
.nav-link:focus::after {
  background-color: var(--primary-color);
}

.contact-list {
  margin-left: auto;
  display: flex;
}

.contact-item:not(:last-child) {
  margin-right: 40px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--transition-duration)
    var(--transition-timing-function);
}

.header .contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill var(--transition-duration)
    var(--transition-timing-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--primary-color);
}

.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--primary-color);
}

/*------------HERO-----------*/

.hero {
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/img-hero-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--light-color);
}

.hero-btn {
  margin: 0 auto;
  padding: 10px 32px;
}

/*-----------BENEFITS----------*/

.benefits {
  padding: 94px 0;
  background: var(--light-color);
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefit-head {
  margin-bottom: 30px;
  padding: 25px;
  background-color: var(--silver-color);
  border-radius: 4px;
  text-align: center;
}

.benefit-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.benefit-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

/*----------ABOUT----------*/

.about-us {
  padding-bottom: 94px;
  background: var(--light-color);
}

.about-us-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

.about-us-list {
  display: flex;
  gap: 30px;
}

.about-us-item {
  position: relative;
}

.about-us-item-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 27px;

  background: rgba(47, 48, 58, 0.8);
}

.about-us-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/*-----------SOCIALS-----------*/

.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.soc-item {
  width: 44px;
  height: 44px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: color var(--transition-duration)
      var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.soc-icon {
  transition: fill var(--transition-duration)
    var(--transition-timing-function);
}

/*-----------TEAM------------*/

.team {
  background: var(--silver-color);
  padding: 94px 0;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list-item {
  background: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-list-item-info {
  padding: 30px;
  background: var(--light-color);
}

.team-list-item-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

.team-list-item-skill {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.team .soc-link {
  background-color: transparent;
}

.team .soc-icon {
  fill: var(--grey-color);
}

.team .soc-link:hover,
.team .soc-link:focus {
  background-color: var(--primary-color);
}

.team .soc-link:hover .soc-icon {
  fill: var(--light-color);
}

.team .soc-link:focus .soc-icon {
  fill: var(--light-color);
}

/*-----------CLIENTS-----------*/

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background: #ffffff;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.clients-logo {
  fill: var(--grey-color);
  transition: fill var(--transition-duration)
    var(--transition-timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--primary-color);
}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  fill: var(--primary-color);
}

/*------------BUTTON------------*/

.portfolio {
  padding: 94px 0;
  background-color: var(--light-color);
}

.controls-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}

.control-item {
  display: inline-block;
}

.tab-btn {
  padding: 6px 22px;
  color: var(--dark-color);
  background: var(--silver-color);
  border-radius: 4px;
  border: 0;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color var(--transition-duration)
      var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration)
      var(--transition-timing-function);
}

.tab-btn:hover,
.tab-btn:focus {
  color: var(--light-color);
  background: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-----------PROJECTS LIST-----------*/
.portfolio-projects-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

/*-----------PROJECT-CARD-----------*/

.project-card {
  position: relative;
  background-color: var(--light-color);
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card:hover .project-cover-text {
  transform: translateY(0);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-cover-text {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.project-info {
  padding: 20px 24px;
  border: 1px solid var(--silver-color);
  border-top: 0;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;

  margin-bottom: 4px;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: #757575;
}

/*----------FOOTER----------*/

.footer {
  padding: 60px;
  background: #2f303a;
}

.footer .logo {
  margin-bottom: 28px;
}

.footer .logo .accent {
  color: var(--light-color);
}

.footer-content {
  display: grid;
  gap: 70px;
  grid-template-columns: auto auto 1fr;
}

.footer-section-title {
  margin-bottom: 20px;
  color: var(--light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-section:not(:first-child) {
  margin-top: 12px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 12px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--light-color);
}

.footer .soc-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .soc-icon {
  fill: var(--light-color);
}

.footer .soc-link:hover,
.footer .soc-link:focus {
  background-color: var(--primary-color);
}

.footer-mailing {
  margin-left: auto;
}

.mailing-form {
  display: flex;
  margin-right: 0;
}

.mailing-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: #2f303a;
  color: var(--light-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.mailing-input:-webkit-autofill,
.mailing-input:-webkit-autofill:hover,
.mailing-input:-webkit-autofill:focus,
.mailing-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #2f303a inset !important;
  -webkit-text-fill-color: white !important;
}

.mailing-btn {
  display: flex;
  align-items: center;
}

.mailing-btn-icon {
  margin-left: 10px;
  fill: var(--light-color);
}

/*----------- MODAL -----------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration)
      var(--transition-timing-function);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-heading {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;

  color: #212121;
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--primary-color);
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.modal-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;

  color: #212121;
  font-size: 12px;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.modal-input:-webkit-autofill,
.modal-input:-webkit-autofill:hover,
.modal-input:-webkit-autofill:focus,
.modal-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--light-color) inset !important;
  -webkit-text-fill-color: #212121 !important;
}

.modal-input:hover,
.modal-input:focus,
.modal-text:hover,
.modal-text:focus {
  border-color: var(--primary-color);
  outline: transparent;
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--primary-color);
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.modal-input-group {
  margin-bottom: 10px;
}

.modal-input-group label {
  margin-bottom: 4px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-text {
  display: block;
  width: 100%;
  height: 140px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 12px;
  color: #212121;
  font-size: 12px;
  resize: none;
  padding: 12px 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  transform: translateY(-50%);
  transition: fill var(--transition-duration)
    var(--transition-timing-function);
  pointer-events: none;
}

label.modal-politic-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-politic-check {
  width: 16px;
  height: 16px;
  border: 2px solid #303030;
  border-radius: 4px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-politic-check svg {
  fill: transparent;
}

.modal-politic-input:checked + label .modal-politic-check {
  border: none;
  background-color: var(--primary-color);
}

.modal-politic-input:checked + label > span svg {
  fill: var(--light-color);
}

.modal-politic-link {
  color: var(--primary-color);
  text-decoration: underline;
}

.modal-politic-link:hover {
  text-decoration: none;
}

.contact-btn {
  margin: 30px auto 0;
}
