.footer {
  padding: 60px;
  background: #2f303a;
}

.footer .logo {
  margin-bottom: 28px;
}

.footer .logo .accent {
  color: var(--light-color);
}

.footer-content {
  display: grid;
  gap: 70px;
  grid-template-columns: auto auto 1fr;
}

.footer-section-title {
  margin-bottom: 20px;
  color: var(--light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-section:not(:first-child) {
  margin-top: 12px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 12px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--light-color);
}

.footer .soc-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .soc-icon {
  fill: var(--light-color);
}

.footer .soc-link:hover,
.footer .soc-link:focus {
  background-color: var(--primary-color);
}

.footer-mailing {
  margin-left: auto;
}